.cal-wrapper{
    -js-display: flex;
    display:flex;
    flex-wrap: wrap;
}
.cal-day, .cal-h-day{
    flex-basis: 14.28%;
    text-align: center;
}
.cal-h-day{
    font-weight: bold;
}
.cal-month{
    text-align: center;
}
.cal-month{
    width:calc(100% - 3em);
}
.cal-month, .cal-button{
    display: inline-block;
}
.cal-button{
    width:1.5em;
}
.cal-head{
    -js-display: flex;
    display: flex;
    justify-content: space-evenly;
}